.input-wrap{
    padding: 20px 10px; position: relative;
}
.txt{
    border: 1px solid #e6e6e6; border-radius: 6px; padding: 10px;
    width: 100%; outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.light{
    border-color: #55abce;
}
.del{
    display: inline-block; background: #e6e6e6 url(../image/del.png) no-repeat center;
    width: 18px; height: 18px; position: absolute; right:20px; top: 30px;
    border-radius: 18px; 
    -webkit-background-size: 10px 10px;
    background-size: 10px 10px;
    visibility: hidden;
}
.show{
    visibility:visible;
}
         #loginTip{
            text-align: center;

         }
         #loginTip a{
         	line-height: 40px;
            text-decoration: underline;
            color: #bfbfbf;
            font-size: 1.2em;
            font-family: '微软雅黑';
         }
         
     .loginBtn{
     	width:100%;
     	padding: 10px;
     	text-align:center;
     }
     
     .btn{
     	padding: 10px 30px;
     	font-size:16px;
	    border: 1px solid #000000;
	    -webkit-border-radius: 15px; 
	    border-radius:15px;    
     }